<div class="jumbotron">
  <h1>Alpha Blog!</h1>
  <p>Welcome to Alpha Blog! Feel free to view all articles and contribute your own.</p>
  <p><%= link_to 'Sign Up', '#', class: 'btn btn-primary btn-lg'%></p>
</div>